@import "tailwindcss";

@theme {
  /* Color principal verde */
  --color-primary: #16a34a;
  --color-primary-foreground: #ffffff;

  /* Fondo unificado: slate-50 (#f8fafc) */
  --color-background: #f8fafc;
  --color-card: #f8fafc;

  /* Resto de colores */
  --color-foreground: #09090b;
  --color-card-foreground: #09090b;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


/* Ocultar icono en navegadores modernos (Edge/Chrome) */
input::-ms-reveal, 
input::-ms-clear { 
    display: none !important; 
}

/* Forzar ocultación en Webkit */
input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden !important;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}